table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    border: 1px;
  }

th {
    background-color: #202444;
    color: white;
  }

tr:nth-child(even) {background-color: #f2f2f2;}

th, td {
    padding: 15px;
    text-align: center;
  }


